@{
    Layout = null;
}
<address>
    <strong>@Resources.Resources.Address:</strong> @Resources.Resources.Imagery Turnhout
</address>

<address>
   
    <strong>@Resources.Resources.Telephone:</strong>    +32.(0)14/41.95.10 <br />  
    <strong>Fax:</strong>   +32.(0)14/41.95.10 <br />  
    <strong>Email:</strong>   <a href=" maas55@skynet.be"> maas55@skynet.be</a><br />  
    <strong>Website:</strong>   <a href="www.francienmaas.be"> www.francienmaas.be</a><br />    
</address>

