<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="AdminConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=D:\informatica\Einwerk\svn\de Heerbeelding\de Heerbeelding\Kunst\App_Data\Kunstdb.mdf;Initial Catalog=Kunst;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="deHerbeelding" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=D:\informatica\Einwerk\svn\de Heerbeelding\de Heerbeelding\Kunst\App_Data\deHerbeelding.mdf;Initial Catalog=deHerbeelding;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>